<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todolist.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
                    <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Due date</th>
                    </thead>
                    {% for list_item in todolist.items.all %}
                        <tbody>
                            <td>
                                <a href="{% url 'todo_item_update' list_item.pk %}">{{ list_item.task }}</a>
                            </td>
                            <td>{{ list_item.due_date }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
